---
import { Icon } from 'astro-icon/components';

export interface Props {
  icon?: string;
  title?: string;
  description?: string;
}

const {
  icon = 'tabler:info-square',
  title = await Astro.slots.render('title'),
  description = await Astro.slots.render('description'),
} = Astro.props;
---

<section class="bg-base-200 border border-base-300 not-prose">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-3 text-[17px] text-center text-base-content intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <Icon name={icon} class="w-4 h-4 inline-block align-text-bottom text-primary" />
    <span class="font-semibold" set:html={title} />
    <Fragment set:html={description} />
  </div>
</section>
