---
import Layout from '~/layouts/PageLayout.astro';
import type { MetaData } from '~/types';

export interface Props {
  frontmatter: {
    title?: string;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-16 md:py-20 lg:py-24 mx-auto max-w-4xl">
    <h1
      class="font-semibold font-heading text-[40px] md:text-[56px] leading-[1.07] tracking-[-0.005em] text-base-content"
    >
      {frontmatter.title}
    </h1>
    <div
      class="mx-auto prose prose-base max-w-4xl prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <slot />
    </div>
  </section>
</Layout>
