---
import ParticleBackgroundReact from './ParticleBackground';
---

<div class="absolute inset-0 z-0" style="pointer-events: none;">
  <div style="pointer-events: auto; position: absolute; inset: 0;">
    <ParticleBackgroundReact client:only="react" />
  </div>
</div>
